.gridTrackPlan {
    border: 1px solid black;
    margin-top: 10px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    /*    margin: auto; */
}

body {
    display: table-cell;
    /*    vertical-align: middle; */
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

div {
    border: 0;
    margin: 0;
    padding: 0;
}

.row {
    border: 0;
    margin: 0;
    padding: 0;
    height: 32px !important;
    overflow: visible;
}

.cell {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    min-height: 32px !important;
    min-width: 32px !important;
    max-height: 32px !important;
    max-width: 32px !important;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.cell:hover {background-color: #f3f3f3; }

.cell:active {
    /*
    border: 1px solid red;
    margin: -2px;
    */
    background-color: #a6a6a6;
}

.overflow {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.imgflip {
/*    transform: scaleX(-1);*/
    filter: FlipH;
    -ms-filter: "FlipH";
}

.container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    vertical-align: middle;
}

.container > div {
    flex: 1; /*grow*/
}

.rot90 {
    -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
    -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
    -o-transform: translateY(-100%) rotate(90deg); /* Opera */
    transform: translateY(-100%) rotate(90deg); /* W3C */
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}

.rot-90 {
    -webkit-transform: translateX(100%) rotate(-90deg); /* Safari */
    -moz-transform: translateX(100%) rotate(-90deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateX(100%) rotate(-90deg); /* IE9 */
    -o-transform: translateX(100%) rotate(-90deg); /* Opera */
    transform: translateX(100%) rotate(-90deg); /* W3C */
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    height: 32px;
}

.rot180 {
    -webkit-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Safari */
    -moz-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(-100%) translateX(100%) rotate(180deg); /* IE9 */
    -o-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Opera */
    transform: translateY(-100%) translateX(100%) rotate(180deg); /* W3C */
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
    height: 32px;
}

.routeHighlightStart {
    background: chartreuse;
}

.routeHighlightEnd {
    background: crimson;
}

.routeHighlight {
    background: gold;
}
