html, body {
    font-family: Verdana,Arial,sans-serif;
    background: #fcfcfc;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* hide vertical scrollbars */
}

.speedCurveDesign {
    font-size: 11px;
    margin: auto;
    padding-top: 10px;
}

    .speedCurveDesign select {
        vertical-align: middle;
        font-size: 11px;
    }

    .speedCurveDesign input {
        vertical-align: middle;
        font-size: 11px;
        padding: 2px;
        margin: 2px;
    }

    .speedCurveDesign label {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
    }

#speedCurveEsu,
#speedCurveLenz {
    padding-top: 100px;
}

.speedCurveRoot {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    cursor: crosshair;
}

.speedCurveControls {
    float: left;
    padding: 5px;
    padding-top: 10px;
}

.speedCurveLineSpeed {
    position: relative;
    color: red;
    background-color: red;
    opacity: 0.1;
    height: 1px;
    z-index: 10;
}

.speedCurveLineTime {
    position: relative;
    color: red;
    background-color: red;
    opacity: 0.1;
    width: 1px;
    z-index: 10;
}

.nooby {
    position: relative;
    float: left;
    background-color: black;
    cursor: crosshair;
}

.noobySpeedLbl {
    position: relative;
    left: -3px;
    top: -10px;
    color: black;
    font-size: 8px;
    cursor: crosshair;
    z-index: 15;
}

.speedHighlight {
    font-weight: bold;
    font-size: 10px;
    left: -5px;
    top: -13px;
    color: red;
}

.noobyTimeLbl {
    position: relative;
    left: -0px;
    top: -3px;
    color: black;
    font-size: 8px;
    cursor: crosshair;
    z-index: 15;
}

.timeHighlight {
    font-weight: bold;
    font-size: 10px;
    left: -3px;
    top: -8px;
    color: red;
    z-index: 15;
}

.noobyMax {
    position: relative;
    color: red;
    background-color: red;
}
